<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% if @posts.suggestions.any? %>
        <%= render "shared/suggestion", suggestions: @posts.suggestions %>
      <% end %>
      <h1 class="my-4">
        <%= t "post.all_posts" %>
      </h1>
      <%= render post_content(@posts) %>
      <div class="justify-content-center mb-4">
        <%= will_paginate @posts, inner_window: Settings.post.inner_window %>
      </div>
    </div>
    <%= render "shared/active_authors" %>
  </div>
</div>
